$primary-color:#6c63ff;
$font: 'lato';

body {
    background: $primary-color;
    font-family: $font;

    .container {
        width: 1240px;
        margin: auto;
    }

    p {
        color: #ffffff;
        transform: translate(50px, 50%)
    }
}